/**
 * A blog for my kids
 *
 * @author: Binjuhor - binjuhor@gmail.com
 * @version: 1.0.0
 *
 * 01. Style for all site
 * 02. Header
 * 03. Times block
 * 04. Kids list
 * 05. Fillters event
 * 06. Editors
 * 07. post
 * 08.Comment
 **/

@import "./node_modules/bootstrap/scss/bootstrap";
@import './node_modules/sass-rem/rem';
@import './scss/variable';

/**
 * 01. Style for all site
 **/
body{
    font-family: $body-font;
    color: $body-color;
    background: $bg-body;
}

a{
    color: $link-color;
    &:hover{
        color: $active-color;
        text-decoration: none;
    } 
}

/**
 * 02. Header
 **/
.topbar{
    display: inline-block;
    width:100%;
    background: $main-color;
    .row{
        min-height: $header-height;
        position: relative;
    }
    &__infomation{
        position: absolute;
        right: 0px;
        top:0px;
        p{
            color: $white;
            display: inline-block;
            font-size: rem(14px);
        }
    }
    &__avatar{
        @extend %border-radius;
        display: inline-block;
        border:none;
    } 
}

/**
 * 03. Times block
 **/
.times{
    position:fixed;
    top: rem(200px);
    right: 0px;
    text-align: left;
    min-width: rem(200px);
    &__list{
        padding-left:rem(25px);
        color: $main-color;
        position: relative;
        &:before{
            content:"";
            background-image: linear-gradient(to bottom, $body-color 40%, rgba(255, 255, 255, 0) 10%);
            background-position: left;
            background-size: rem(2px) rem(5px);
            background-repeat: repeat-y;
            width:rem(2px);
            height: 85%;
            position: absolute;
            left: rem(9px);
            top:rem(20px);
            z-index: 1;;
        }        
        a{
            color: $body-color;
            &:hover{
                font-weight: bold;
                color: $main-color;
                text-decoration: none;
            }
        }
    }
    &__sub{
        list-style: none;
        padding-left: 0;
    }
    &__item{
        position: relative;
        z-index: 2;
        line-height: rem(30px);
    }
}

/**
 * 04. Kids list
 **/
 .kids{
    display: inline-block;
    position: relative;
    z-index: 4;
    margin-top: rem(50px);
    @include media-breakpoint-up('md'){
        margin-top: rem(105px);
        margin-bottom: rem(80px);
    }
    &__list{
        list-style: none;
        padding-left: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item{
        display: inline-block;
        margin-bottom: rem(30px);
        margin-right: rem(10px);
        @include media-breakpoint-up('md'){
            margin-right: rem(50px);
        }
        img{
            object-fit: cover;
            width: rem();
            height: rem();
        }
        &:last-child{
            margin-right: 0;
        }
        &:first-child{
            @include media-breakpoint-down('md'){
                margin-left: 50%;
                margin-right: 50%;
            }
            img{
                width: rem(215px);
                height: rem(215px);
            }
        }
        a{
            @extend %box-shadow;
            border:rem(5px) solid $white;
            border-radius: 50%;
            display: block;
            position: relative;
            overflow: hidden;
        }
    }
 }

 /**
  * 05. Fillters event
  **/
.fillters{
    position: relative;
    z-index: 3;
    margin-bottom: rem(50px);
    &__title{
        width: rem(90px);
        height: rem(90px);
        display: inline-block;
        line-height: rem(70px);
        border: rem(10px) solid $active-color;
        border-radius: 50%;
        text-align: center;
        color:$white;;
        background: $main-color;
    }
    &__list{
        width:100%;
        display: inline-block;
        position: relative;
        text-align: center;
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
        @include media-breakpoint-up('md'){
            width: auto;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__item{
        display: inline-block;
        margin-left: rem(5px);
        margin-right: rem(5px);
        margin-bottom: rem(15px);
        width:rem(30px);
        height: rem(30px);
        border-radius: 50%;
        background: $active-color;
        text-align: center;
        line-height: rem(30px);
        transition: all .3s;
        @include media-breakpoint-up('md'){
            margin-left: rem(20px);
        }
        @include media-breakpoint-up('lg'){
            margin-left: rem(30px);
            margin-right: rem(10px);
        }
        &.active{
            background: $main-color;
            a{
                font-weight: bold;
                text-decoration: none;
            }
        }
        a{
            display: inline-block;
            color:$white;
        }
        &:hover{
            background: $main-color;
        }
    }
}

/**
 * 06. Editors
 **/
#editor__toolbar{
    @extend %border-radius;
    border-top-left-radius:0;
    border-top-right-radius:0;
}

.editor{
    @extend %border-radius;
    position: relative;
    overflow: hidden;
    background: $white;
    margin-bottom: rem(30px);
    &__header{
       @extend  %box-bar;
    }
    &__item{
        width:32%;
        padding-left: rem(30px);
        padding-right: rem(35px);
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @include media-breakpoint-up('lg'){
            width: auto;
            padding-left: rem(35px);
            padding-right: rem(35px);
        }
        &::after{
            content:"";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: rem(29px);
            width: rem(1px);
            background: $border-color;
        }
        &:last-child{
            &::after{
                display: none;
                @include media-breakpoint-up('lg'){
                    display: block;
                }
            }
        }
        &.active{
            color: $active-color;
        }
    }
    &__tags{
        display: inline-block;
        width:100%;
        position: relative;
        padding-top: rem(15px);
        margin-left: rem(-15px);
        margin-right: rem(-15px);
        padding-left: rem(15px);
        padding-right: rem(15px);
        border-bottom: rem(1px) solid $border-color;
        box-sizing: content-box;
        margin-bottom: rem(15px);
        .btn{
            position: absolute;
            right:rem(15px);
            top:rem(15px);
        }
    }
    &__kids{
        display: inline-block;
        padding-left: rem(10px);
        margin-top: rem(10px);
        list-style: none;
        li{
            display: inline-block;
            position: relative;
            margin-right: rem(20px);
            img{
                width: rem(18px);
                height: rem(21px);
                object-fit: cover;
            }
            @include media-breakpoint-up('md'){
                margin-right: rem(30px);
            }
            .fa{
                display: none;
                position: absolute;
                top: rem(10px);
                left: rem(-10px);
            }
            &.active{
                .fa{
                    display: inline-block;
                    color: $main-color;
                }
            }
        }
    }
    &__tab{
        display: none;
        min-height: rem(90px);
        margin-bottom: rem(15px);
        &.active{
            display: inline-block;
            flex-shrink: 0;
            flex-grow: 1;
            flex: 0;
            width: 100%;
            a.btn{
                width: 100%;
                display: inline-block;
                height: auto;
                margin-bottom: rem(15px);
                @include media-breakpoint-up('lg'){
                    width:48%;
                    margin-right: rem(15px);
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        form{
            float: left;
            width: 100%;
            textarea{
                min-height: rem(100px);
            }
        }
    }
    &__quill{
        width:100%;
        @extend %border-radius;
        border-top-left-radius:0;
        border-top-right-radius:0;
        min-height: rem(250px);
        *{
            border-color: $border-color;
        }
    }
    &__content{
        min-height: rem(90px);
        @extend %border-radius;
    }
    &__location{
        p{
            display: inline-block;
            padding:0 rem(20px);
            font-size: rem(14px);
            margin-bottom: 0;
            &:first-child{
                padding-left: 0;
            }
        }
    }
    &__btn{
        background: $main-color;
        color: $white;
        &--post{
            border-radius:0;
            position: absolute;
            right: 0;
            height: 100%;
            padding-left: rem(35px);
            padding-right: rem(35px);
            line-height: rem(30px);
        }
        &--select{
            font-size: rem(12px);
            @include media-breakpoint-up('md'){
                font-size: rem(14px);
            }
        }
        &:hover{
            color: $white;
            background: $active-color;
        }
    }
    &__footer{
        @extend  %box-bar;
    }
}

/**
 * 07. post
**/
.post{
    padding-bottom: rem(30px);
    position: relative;
    overflow: hidden;
    &__detail{
        padding-left: 0;
        padding-right: 0;
    }
    &__content{
        @extend %border-radius;
        overflow: hidden;
        background: $white;
    }
    &__thumb{
        margin-bottom: rem(20px);
        width:100%;
        img{
            object-fit: cover;
            position: relative;
            max-width: 100%;
            height: auto;
        }
    }
    &--thumb{
        .post__thumb{
            img{
                object-fit: cover;
                width:100%;
                height: auto;
            }
        }
    }
    &__text{
        padding-left:rem(15px);
        padding-right:rem(15px);
        margin-bottom: rem(20px);
        padding-top:rem(15px);
    }
    &__action{
        padding: rem(15px);
        &--left{
            list-style: none;
            padding-left: 0;
            margin-bottom: 0px;
            display: inline-block;
        }
        li{
            list-style: none;
            display: inline-block;
            margin-right:rem(15px);
            cursor: pointer;
            transition: all .3s;
            &:hover, &.active{
                color: $main-color;
            }
        }
    }
    &__location{
        float: right;
        font-size: rem(14px);
    }
    &__love{
        position: relative;
        padding-bottom: rem(15px);
        ul{
            display: inline-block;
            padding-left: 0;
            list-style: none;
            margin-bottom: 0;
            li{
                @extend %border-radius;
                display: inline-block;
                margin-right: rem(5px);
                width: rem(38px);
                height: rem(38px);
                overflow: hidden;
                @include media-breakpoint-down('md'){
                    margin-bottom: rem(10px);
                }
                &:last-child{
                    border:none;
                }
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
    &__box{
        width: 100%;
        padding-left: rem(5px);
        padding-right: rem(5px);
        @include media-breakpoint-up('md'){
            padding-left: rem(15px);
            padding-right: rem(15px);
        }
        &--hide{
            display: none;
        }
    }
    &__conmentbox{
        @extend %border-radius;
        border-top: none;
        padding-top: rem(15px);
        background: $white;
        padding-left: rem(15px);
        padding-right: rem(15px);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-bottom: rem(15px);
    }
    &__hidden{
        position: absolute;
        top:0;
        right:0;
        font-size: rem(14px);
    }
    &__tags{
        padding-left: 0;
        list-style: none;
        padding-right: rem(85px);
        padding-top: rem(15px);
        position: relative;
        z-index: 2;
        &::before{
            content:"";
            background: $main-color;
            font-family: $icon-font;
            position: absolute;
            width:rem(25px);
            height: rem(25px);
            color: $white;
            border-radius: 50%;
            text-align: center;
            line-height: rem(25px);
            top: rem(10px);
            right: rem(35px);
        }
        &--smile{
           &::before{
                content:"\f118";
            } 
        }
        &--calendar{
           &::before{
                content:"\f073";
            } 
        }
        &--star{
           &::before{
                content:"\f005";
            } 
        }
        &--heart{
           &::before{
                content:"\f004";
            } 
        }
        &--bell{
           &::before{
                content:"\f0a2";
            } 
        }
        &--trip{
           &::before{
                content:"\f39a";
            } 
        }
        &--wallet{
           &::before{
                content:"\f1ee";
            } 
        }
        li{
            display: inline-block;
            width: 100%;
            text-align: right;
            margin-top: rem(10px);
            white-space: nowrap;
            p{
                font-size: rem(14px);
            }
        }
    }
    &__time{
        position: relative;
        z-index: 1;
        &::after{
            content:"";
            position: absolute;
            width:rem(5px);
            min-height: rem(2000px);
            right: rem(60px);
            top: rem(-180px);
            background: $active-color;
        }
        &--lineup{
            &::after{
                top: rem(-80px);
                @include media-breakpoint-up('lg'){
                    top:rem(-300px);
                }
            }
        }
    }
}

/**
 * 08.Comment
 **/
.comments{
    &__list{
        display: inline-block;
        width: 100%;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    &__item{
        width:100%;
        list-style: none;
        border-bottom: 1px solid $border-color;
        padding-bottom: rem(15px);
        margin-bottom: rem(15px);
        position: relative;
        @include media-breakpoint-up('md'){
            padding-left: rem(50px);
        }
        &--input{
            border-bottom: none;
            margin-bottom: 0;
            textarea{
                float: left;
                width:80%;
                height: rem(40px);
                font-size: rem(14px);
                @include media-breakpoint-up('md'){
                    margin-right: rem(10px);
                    width: 90%;
                }
            }
        }
    }
    &__avatar{
        display: none;
        width:rem(38px);
        height: rem(38px);
        @extend %border-radius;
        position: absolute;
        left: 0;
        overflow: hidden;
        @include media-breakpoint-up('md'){
            display: inline-block;
        }
        img{
            object-fit: cover;
            width:100%;
            height: auto;
        }
    }
    &__text{
        display: inline-block;
        position: relative;
        width: 100%;
        time{
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: rem(12px);
        }
    }
    &__auth{
        display: inline-block;
    }
    &__btn{
        @include media-breakpoint-down('sm'){
            padding:rem(7px) rem(10px);
            margin-left: rem(5px);
        }
        display: inline-block;
        &:hover{
            background:$main-color;
            color: $white;
        }
    }
}