@import "mixins/mixins-master";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/bootstrap";
@import "variables-site/*.scss";

/*Fonts*/
$font__main: "Quicksand", sans-serif;
$font__default: "Quicksand", sans-serif;
$font__line-height-body: 3rem;

/*Color*/
$color__link: #001313;
$color__text-main: #000000;
$color__text-screen: #FF9AD0;
$color__text-input: #999999;
$color__border-input: #E8E8E8;

/* transition*/
$default-transition: all 0.2s ease-in-out 0s !default;

/*Get all color file*/
@import "normalize";
@import "elements*/*.scss";
@import "forms*/*.scss";
@import "layout*/*.scss";
@import "media*/*.scss";
@import "modules*/*.scss";
@import "navigation*/*.scss";
@import "font-awesome/font-awesome";
@import "typography*/*.scss";
@import "site*/*.scss";