/**
 * A blog for my kids
 *
 * @author: Binjuhor - binjuhor@gmail.com
 * @version: 1.0.0
 **/

@import 'rem';
@import 'variable';

/**
 * 01. Style for all site
 **/

body{
    font-family: $body-font;
    color: $body-color;
    background: $bg-body;
}

a{
    color: $link-color;
    &:hover{
        color: $active-color;
        text-decoration: none;
    } 
}

/**
 * 02. Header
 **/

.topbar{
    display: inline-block;
    width:100%;
    background: $main-color;

    .row{
        min-height: $header-height;
        position: relative;
    }

    &__infomation{
        position: absolute;
        right: 0px;
        top:0px;

        p{
            color: $body-color;
            display: inline-block;
            font-size: rem(14px);
        }
    }

    &__avatar{
        @extend %border-radius;
        display: inline-block;
        border:none;
    } 
}

/**
 * 03. Times block
 **/

.times{
    position:fixed;
    top: rem(270px);
    right: 0px;
    min-width: rem(230px);
    text-align: left;

    &__list{
        padding-left:rem(25px);
        color: $main-color;
        position: relative;
        &:before{
            content:"";
            background-image: linear-gradient(to bottom, $body-color 40%, rgba(255, 255, 255, 0) 10%);
            background-position: left;
            background-size: rem(2px) rem(5px);
            background-repeat: repeat-y;

            width:rem(2px);
            height: 85%;
            position: absolute;
            left: rem(10.5px);
            top:rem(20px);
            z-index: 1;;
        }        
        a{
            color: $body-color;
            &:hover{
                font-weight: bold;
                color: $main-color;
                text-decoration: none;
            }
        }
    }

    &__sub{
        list-style: none;
        padding-left: 0;
    }

    &__item{
        position: relative;
        z-index: 2;
        line-height: rem(30px);
    }
}

/**
 * 04. Kids list
 **/

 .kids{
    display: inline-block;
    margin-top: rem(105px);
    position: relative;
    z-index: 4;
    margin-bottom: rem(80px);
    &__list{
        list-style: none;
        padding-left: 0;
    }
    &__item{
        display: inline-block;
        margin-right: rem(50px);
        a{
            @extend %box-shadow;
            border:rem(5px) solid $white;
            border-radius: 50%;
            display: block;
            position: relative;
            overflow: hidden;
        }
    }
 }

 /**
  *05. Fillter event
  **/
.fillters{
    position: relative;
    z-index: 3;
    margin-bottom: rem(50px);
    &__title{
        width: rem(90px);
        height: rem(90px);
        display: inline-block;
        line-height: rem(70px);
        border: rem(10px) solid $active-color;
        border-radius: 50%;
        text-align: center;
        color:$white;;
        background: $main-color;
    }
    &__list{
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
    }
    &__item{
        display: inline-block;
        margin-left: rem(30px);
        margin-right: rem(10px);
        width:rem(30px);
        height: rem(30px);
        border-radius: 50%;
        background: $active-color;
        text-align: center;
        line-height: rem(30px);
        transition: all .3s;
        &.active{
            a{
                font-weight: bold;
                color: $main-color;
                text-decoration: none;
            }
        }
        a{
            display: inline-block;
            color:$white;
        }
        &:hover{
            background: $main-color;
        }
    }
}

/**
 * 06. Editors
 **/

 #editor__toolbar{
    @extend %border-radius;
    border-top-left-radius:0;
    border-top-right-radius:0;
}
.editor{
    @extend %border-radius;
    position: relative;
    overflow: hidden;
    background: $white;
    margin-bottom: rem(30px);
    &__header{
       @extend  %box-bar;
    }
    &__item{
        padding-left: rem(35px);
        padding-right: rem(35px);
        display: inline-flex;
        position: relative;
        &::after{
            content:"";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: rem(29px);
            width: rem(1px);
            background: $border-color;
        }
        &.active{
            color: $active-color;
        }
    }
    &__tags{
        display: inline-block;
        width:100%;
        position: relative;
        padding-top: rem(15px);
        margin-left: rem(-15px);
        margin-right: rem(-15px);
        padding-left: rem(15px);
        padding-right: rem(15px);
        border-bottom: rem(1px) solid $border-color;
        box-sizing: content-box;
        margin-bottom: rem(15px);
        .btn{
            position: absolute;
            right:rem(15px);
            top:rem(15px);
        }
    }
    &__kids{
        display: inline-block;
        padding-left: 0;
        list-style: none;
        li{
            display: inline-block;
            margin-right: rem(30px);
            position: relative;
            .svg-inline--fa{
                position: absolute;
                left: rem(-5px);
                bottom: rem(-5px);
            }
            &.active{
                .svg-inline--fa{
                    color: $active-color;
                }
            }
        }
    }
    &__tab{
        display: none;
        min-height: rem(90px);
        margin-bottom: rem(15px);
        &.active{
            display: inline-block;
            flex-shrink: 0;
            flex-grow: 1;
            flex: 0;
            width: 100%;
            a.btn{
                display: inline-block;
                height: auto;
                width:48.6%;
                margin-right: rem(15px);
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        form{
            float: left;
            width: 100%;
            textarea{
                min-height: rem(100px);
            }
        }
    }
    &__quill{
        width:100%;
        @extend %border-radius;
        border-top-left-radius:0;
        border-top-right-radius:0;
        min-height: rem(250px);
        *{
            border-color: $border-color;
        }
    }
    &__content{
        min-height: rem(90px);
        @extend %border-radius;
    }
    &__location{
        p{
            display: inline-block;
            padding:0 rem(20px);
            margin-bottom: 0;
            &:first-child{
                padding-left: 0;
            }
        }
    }
    &__button{
        background: $main-color;
        color: $white;
        &--post{
            border-radius:0;
            position: absolute;
            right: 0;
            height: 100%;
            padding-left: rem(35px);
            padding-right: rem(35px);
            line-height: rem(30px);
        }
        &:hover{
            color: $white;
            background: $active-color;
        }
    }
    &__footer{
        @extend  %box-bar;
    }
}

/**
 * 07. post
**/

.post{
    margin-bottom: rem(30px);
    &__detail{
        padding-left: 0;
        padding-right: 0;
    }
    &__content{
        @extend %border-radius;
        background:$white;
    }
    &__thumb{
        margin-bottom: rem(20px);
        width:100%;
        img{
            position: relative;
            max-width: 100%;
            height: auto;
        }
    }
    &--thumb{
        .post__thumb{
            img{
                width:100%;
                height: auto;
            }
        }
    }
    &__text{
        padding-left:rem(15px);
        padding-right:rem(15px);
        margin-bottom: rem(20px);
        padding-top:rem(15px);
    }
    &__action{
        padding: rem(15px);
        &--left{
            list-style: none;
            padding-left: 0;
            margin-bottom: 0px;
            display: inline-block;
        }
        li{
            list-style: none;
            display: inline-block;
            margin-right:rem(15px);
            cursor: pointer;
            transition: all .3s;
            &:hover{
                color: $btn-action;
            }
        }
    }
    &__location{
        float: right;
    }
    &__love{
        position: relative;
        ul{
            display: inline-block;
            padding-left: 0;
            list-style: none;
            margin-bottom: 0;
            li{
                @extend %border-radius;
                display: inline-block;
                margin-right: rem(5px);
                width: rem(38px);
                height: rem(38px);
                overflow: hidden;
                &:last-child{
                    border:none;
                }
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
    &__box{
        width: 100%;
        padding-left: rem(15px);
        padding-right: rem(15px);
       
    }
    &__conmentbox{
        @extend %border-radius;
        border-top: none;
        padding-top: rem(15px);
        background: $white;
        padding-left: rem(15px);
        padding-right: rem(15px);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-bottom: rem(15px);
    }
    &__hidden{
        position: absolute;
        top:0;
        right:0;
        font-size: rem(14px);

    }
    &__tags{
        padding-left: 0;
        list-style: none;
        padding-right: rem(85px);
        padding-top: rem(15px);
        position: relative;
        z-index: 2;
        &::before{
            content:"";
            width:rem(20px);
            height: rem(20px);
            border-radius: 50%;
            background: $main-color;
            position: absolute;
            top: rem(10px);
            right: rem(38px);
        }
        li{
            display: inline-block;
            width: 100%;
            text-align: right;
            margin-top: rem(10px);
            white-space: nowrap;
            p{
                font-size: rem(14px);
            }
        }
    }
    &__time{
        position: relative;
        z-index: 1;
        &::after{
            content:"";
            width:rem(5px);
            height: 150%;
            position: absolute;
            right: rem(60px);
            top: -30%;
            background: $active-color;
        }
        &--lineup{
            &::after{
                top:-100%;
            }
        }
    }
}

/**
 *  08.Comment
 **/
.comments{
    &__list{
        display: inline-block;
        width: 100%;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    &__item{
        width:100%;
        list-style: none;
        border-bottom: 1px solid $border-color;
        padding-bottom: rem(15px);
        margin-bottom: rem(15px);
        padding-left: rem(50px);
        position: relative;
        &--input{
            border-bottom: none;
            margin-bottom: 0;
            textarea{
                height: rem(40px);
            }
        }
    }
    &__avatar{
        display: inline-block;
        width:rem(38px);
        height: rem(38px);
        @extend %border-radius;
        position: absolute;
        left: 0;
        overflow: hidden;
        img{
            width:100%;
            height: auto;
        }
    }
    &__text{
        display: inline-block;
        position: relative;
        width: 100%;
        time{
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: rem(12px);
        }
    }
    &__auth{
        display: inline-block;
    }
}