/**
 * A blog for my kids
 *
 * @author: Binjuhor - binjuhor@gmail.com
 * @version: 1.0.0
 *
 * 01. Style for all site
 * 02. Header
 * 03. Times block
 * 04. Kids list
 * 05. Fillters event
 * 06. Editors
 * 07. post
 * 08.Comment
 **/
.topbar__avatar, #editor__toolbar, .editor, .editor__quill, .editor__content, .post__content, .post__love ul li, .post__conmentbox, .comments__avatar {
  border-radius: 0.3125rem;
  border: 0.0625rem solid #e2e2e2;
  transition: all .3s; }

.kids__item a {
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.6); }

.editor__header, .editor__footer {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  background: #f9f9f9;
  min-height: 2.75rem;
  box-sizing: content-box;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  line-height: 2.75rem; }

/**
 * 01. Style for all site
 **/
body {
  font-family: "Open Sans", sans-serif;
  color: rgba(74, 74, 74, 0.89);
  background: #f5f5f5; }

a {
  color: #9b9b9b; }
  a:hover {
    color: #bbd896;
    text-decoration: none; }

/**
 * 02. Header
 **/
.topbar {
  display: inline-block;
  width: 100%;
  background: #80b33a; }
  .topbar .row {
    min-height: 3.625rem;
    position: relative; }
  .topbar__infomation {
    position: absolute;
    right: 0px;
    top: 0px; }
    .topbar__infomation p {
      color: #fff;
      display: inline-block;
      font-size: 0.875rem; }
  .topbar__avatar {
    display: inline-block;
    border: none; }

/**
 * 03. Times block
 **/
.times {
  position: fixed;
  top: 12.5rem;
  right: 0px;
  min-width: 14.375rem;
  text-align: left; }
  .times__list {
    padding-left: 1.5625rem;
    color: #80b33a;
    position: relative; }
    .times__list:before {
      content: "";
      background-image: linear-gradient(to bottom, rgba(74, 74, 74, 0.89) 40%, rgba(255, 255, 255, 0) 10%);
      background-position: left;
      background-size: 0.125rem 0.3125rem;
      background-repeat: repeat-y;
      width: 0.125rem;
      height: 85%;
      position: absolute;
      left: 0.65625rem;
      top: 1.25rem;
      z-index: 1; }
    .times__list a {
      color: rgba(74, 74, 74, 0.89); }
      .times__list a:hover {
        font-weight: bold;
        color: #80b33a;
        text-decoration: none; }
  .times__sub {
    list-style: none;
    padding-left: 0; }
  .times__item {
    position: relative;
    z-index: 2;
    line-height: 1.875rem; }

/**
 * 04. Kids list
 **/
.kids {
  display: inline-block;
  margin-top: 6.5625rem;
  position: relative;
  z-index: 4;
  margin-bottom: 5rem; }
  .kids__list {
    list-style: none;
    padding-left: 0; }
  .kids__item {
    display: inline-block;
    margin-right: 3.125rem; }
    .kids__item a {
      border: 0.3125rem solid #fff;
      border-radius: 50%;
      display: block;
      position: relative;
      overflow: hidden; }

/**
  * 05. Fillters event
  **/
.fillters {
  position: relative;
  z-index: 3;
  margin-bottom: 3.125rem; }
  .fillters__title {
    width: 5.625rem;
    height: 5.625rem;
    display: inline-block;
    line-height: 4.375rem;
    border: 0.625rem solid #bbd896;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: #80b33a; }
  .fillters__list {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 0;
    list-style: none;
    margin-bottom: 0; }
  .fillters__item {
    display: inline-block;
    margin-left: 1.875rem;
    margin-right: 0.625rem;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    background: #bbd896;
    text-align: center;
    line-height: 1.875rem;
    transition: all .3s; }
    .fillters__item.active {
      background: #80b33a; }
      .fillters__item.active a {
        font-weight: bold;
        text-decoration: none; }
    .fillters__item a {
      display: inline-block;
      color: #fff; }
    .fillters__item:hover {
      background: #80b33a; }

/**
 * 06. Editors
 **/
#editor__toolbar {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.editor {
  position: relative;
  overflow: hidden;
  background: #fff;
  margin-bottom: 1.875rem; }
  .editor__item {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
    display: inline-flex;
    position: relative; }
    .editor__item::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 1.8125rem;
      width: 0.0625rem;
      background: #e2e2e2; }
    .editor__item.active {
      color: #bbd896; }
  .editor__tags {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-top: 0.9375rem;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    border-bottom: 0.0625rem solid #e2e2e2;
    box-sizing: content-box;
    margin-bottom: 0.9375rem; }
    .editor__tags .btn {
      position: absolute;
      right: 0.9375rem;
      top: 0.9375rem; }
  .editor__kids {
    display: inline-block;
    padding-left: 0.625rem;
    list-style: none; }
    .editor__kids li {
      display: inline-block;
      margin-right: 1.875rem;
      position: relative; }
      .editor__kids li .fa {
        display: none;
        position: absolute;
        top: 0.625rem;
        left: -0.625rem; }
      .editor__kids li.active .fa {
        display: inline-block;
        color: #80b33a; }
  .editor__tab {
    display: none;
    min-height: 5.625rem;
    margin-bottom: 0.9375rem; }
    .editor__tab.active {
      display: inline-block;
      flex-shrink: 0;
      flex-grow: 1;
      flex: 0;
      width: 100%; }
      .editor__tab.active a.btn {
        display: inline-block;
        height: auto;
        width: 48%;
        margin-right: 0.9375rem; }
        .editor__tab.active a.btn:last-child {
          margin-right: 0; }
    .editor__tab form {
      float: left;
      width: 100%; }
      .editor__tab form textarea {
        min-height: 6.25rem; }
  .editor__quill {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-height: 15.625rem; }
    .editor__quill * {
      border-color: #e2e2e2; }
  .editor__content {
    min-height: 5.625rem; }
  .editor__location p {
    display: inline-block;
    padding: 0 1.25rem;
    font-size: 0.875rem;
    margin-bottom: 0; }
    .editor__location p:first-child {
      padding-left: 0; }
  .editor__btn {
    background: #80b33a;
    color: #fff; }
    .editor__btn--post {
      border-radius: 0;
      position: absolute;
      right: 0;
      height: 100%;
      padding-left: 2.1875rem;
      padding-right: 2.1875rem;
      line-height: 1.875rem; }
    .editor__btn--select {
      font-size: 0.875rem; }
    .editor__btn:hover {
      color: #fff;
      background: #bbd896; }

/**
 * 07. post
**/
.post {
  padding-bottom: 1.875rem;
  position: relative;
  overflow: hidden; }
  .post__detail {
    padding-left: 0;
    padding-right: 0; }
  .post__content {
    overflow: hidden;
    background: #fff; }
  .post__thumb {
    margin-bottom: 1.25rem;
    width: 100%; }
    .post__thumb img {
      position: relative;
      max-width: 100%;
      height: auto; }
  .post--thumb .post__thumb img {
    width: 100%;
    height: auto; }
  .post__text {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin-bottom: 1.25rem;
    padding-top: 0.9375rem; }
  .post__action {
    padding: 0.9375rem; }
    .post__action--left {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0px;
      display: inline-block; }
    .post__action li {
      list-style: none;
      display: inline-block;
      margin-right: 0.9375rem;
      cursor: pointer;
      transition: all .3s; }
      .post__action li:hover, .post__action li.active {
        color: #d0021b; }
  .post__location {
    float: right;
    font-size: 0.875rem; }
  .post__love {
    position: relative;
    padding-bottom: 0.9375rem; }
    .post__love ul {
      display: inline-block;
      padding-left: 0;
      list-style: none;
      margin-bottom: 0; }
      .post__love ul li {
        display: inline-block;
        margin-right: 0.3125rem;
        width: 2.375rem;
        height: 2.375rem;
        overflow: hidden; }
        .post__love ul li:last-child {
          border: none; }
        .post__love ul li img {
          width: 100%;
          height: auto;
          object-fit: cover; }
  .post__box {
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
    .post__box--hide {
      display: none; }
  .post__conmentbox {
    border-top: none;
    padding-top: 0.9375rem;
    background: #fff;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-bottom: 0.9375rem; }
  .post__hidden {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.875rem; }
  .post__tags {
    padding-left: 0;
    list-style: none;
    padding-right: 5.3125rem;
    padding-top: 0.9375rem;
    position: relative;
    z-index: 2; }
    .post__tags::before {
      content: "";
      background: #80b33a;
      font-family: "FontAwesome";
      position: absolute;
      width: 1.5625rem;
      height: 1.5625rem;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 1.5625rem;
      top: 0.625rem;
      right: 2.1875rem; }
    .post__tags--smile::before {
      content: "\f118"; }
    .post__tags--calendar::before {
      content: "\f073"; }
    .post__tags--star::before {
      content: "\f005"; }
    .post__tags--heart::before {
      content: "\f004"; }
    .post__tags--bell::before {
      content: "\f0a2"; }
    .post__tags--trip::before {
      content: "\f39a"; }
    .post__tags--wallet::before {
      content: "\f1ee"; }
    .post__tags li {
      display: inline-block;
      width: 100%;
      text-align: right;
      margin-top: 0.625rem;
      white-space: nowrap; }
      .post__tags li p {
        font-size: 0.875rem; }
  .post__time {
    position: relative;
    z-index: 1; }
    .post__time::after {
      content: "";
      position: absolute;
      width: 0.3125rem;
      min-height: 125rem;
      right: 3.75rem;
      top: -11.25rem;
      background: #bbd896; }
    .post__time--lineup::after {
      top: -18.75rem; }

/**
 * 08.Comment
 **/
.comments__list {
  display: inline-block;
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }

.comments__item {
  width: 100%;
  list-style: none;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 0.9375rem;
  margin-bottom: 0.9375rem;
  padding-left: 3.125rem;
  position: relative; }
  .comments__item--input {
    border-bottom: none;
    margin-bottom: 0; }
    .comments__item--input textarea {
      height: 2.5rem;
      font-size: 0.875rem; }

.comments__avatar {
  display: inline-block;
  width: 2.375rem;
  height: 2.375rem;
  position: absolute;
  left: 0;
  overflow: hidden; }
  .comments__avatar img {
    width: 100%;
    height: auto; }

.comments__text {
  display: inline-block;
  position: relative;
  width: 100%; }
  .comments__text time {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.75rem; }

.comments__auth {
  display: inline-block; }
