/* button,*/
// input[type="button"],
// input[type="reset"],
// input[type="submit"] {
//  border: 1px solid;
//  border-color: $color__border-button;
//  border-radius: 3px;
//  background: $color__background-button;
//  color: rgba(0, 0, 0, .8);
//  @include font-size(0.75);
//  line-height: 1;
//  padding: .6em 1em .4em;*/ &:hover {
//      border-color: $color__border-button-hover;
//  }*/ &:active,
//  &:focus {
//      border-color: $color__border-button-focus;
//  }
// }

/* Cusstom vc button version 3*/
%button{
    // font-weight: 700;
    // text-transform: uppercase;
    // letter-spacing: 2px!important;
    background: $color__background-button;
    color: $color__text-button;
    display: inline-block;
    border-radius:5px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    border:none;
    &:hover{
        background:$color__background-button-hover;
        color: $color__link-page-hover;
    }
}
button, .button{
    @extend %button;
    &[class$="-size-lg"],&[class*="-size-lg"]{
        padding:15px 65px;
        font-size:16px;
    }
    &[class$="-size-md"],&[class*="-size-md"]{
         padding:10px 35px;
        font-size:14px;
    }
    &[class$="-size-sm"],&[class*="-size-sm"]{
        padding:7px 25px;
        font-size:14px;
    }
    &[class$="-size-xs"],&[class*="-size-xs"]{
        padding:2px 10px;
        font-size:10px;
        line-height:10px;
    }
    &.button-active{
        background: $color__background-button-hover;
        color:$color__background-button-hover;
    }
}
