.comments-area .comments-title {
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: -0.1rem;
  font-size: 2rem;
}

.comments-area .comment-list .fn {
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: -0.1rem;
  font-size: 1.6rem;
}

.comment-author {
  padding-top: 3rem;
}

.comments-area .comment-list .children {
  padding-left: 2rem;
}

.comments-area .comment-list .children .comment-author .avatar {
  width: 5rem;
  height: 5rem;
  left: -6.5rem;
}

.comments-area .comment-list .reply i {
  padding-right: 0.5rem;
}

.comments-area .comment-list .comment-metadata {
  font-size: 1rem;
}

.comments-area .comment-list .comment-awaiting-moderation {
  font-size: 1.2rem;
}

.comments-area .comment-respond .comment-reply-title {
  font-size: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
}

.comments-area .comment-respond .comment-form label {
  font-weight: bold;
}

.comments-area .comment-respond .comment-form .comment-form-comment label {
  width: 100%;
}

.comments-area .comment-respond .comment-form .comment-form-comment textarea {
  width: 100%;
}

.comments-area .comment-respond .comment-form .comment-form-author label {
  width: 10rem;
}

.comments-area .comment-respond .comment-form .comment-form-author input {
  width: 100%;
}

.comments-area .comment-respond .comment-form .comment-form-email label {
  width: 10rem;
}

.comments-area .comment-respond .comment-form .comment-form-email input {
  width: 100%;
}

.comments-area .comment-respond .comment-form .comment-form-url label {
  width: 10rem;
}

.comments-area .comment-respond .comment-form .comment-form-url input {
  width: 100%;
}

.comments-area .comment-respond .comment-form .comment-form-author input,
.comments-area .comment-respond .comment-form .comment-form-email input,
.comments-area .comment-respond .comment-form .comment-form-url input {
  outline: none;
  line-height: 3rem;
  min-height: 5rem;
  padding: 0 3.5rem;
  outline: none;
}

.comments-area .comment-respond .comment-form .comment-form-comment textarea {
  outline: none;
  padding: 1rem 3.5rem 0;
}

.comments-area .comment-respond .comment-form .form-submit {
  text-align: left;
}

.comments-area .comment-respond .comment-form .form-submit input {
  cursor: pointer;
  color: white;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  border-radius: 5rem;
  line-height: 3rem;
  display: inline-block;
  border: none;
  @include transition(all 0.3s ease-in-out 0s);
  @include media-breakpoint-up('md') {
    padding: 1.5rem 5rem;
    font-size: 2rem;
 }
}

