input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: $color__text-input;
    border-bottom: 1px solid $color__text-input;
    background: transparent;
    &:focus {
        color: $color__background-hr;
    }
}
input[type="submit"]{
    color: white;
    font-weight: bold;
    font-family: $font__main;
    background: $color__background-button;
    &:hover{
        background: $color__text-input;
    }
}
