$color__background-body: #f5f5f5;
$color__background-screen: #80b33a;
$color__background-hr: #ccc;
$color__background-button: #80b33a;
$color__background-button-hover: #fff;
$color__background-comment: #746db5;
$color__background-input: #ffffff;
$color__background-hover: #68456a;
$color__background-pre: #ccc;

$color__text-menu: #000000;
$color__text-main: #757575;
$color__text-button: #ffffff;
$color__text-input: #757575;
$color__link-page: #746db5;
$color__link-page-hover: #00c27b;
$color__link_hover: #80b33a;
$color__text-title: #003b5b;
$color__text-name: #d9e1f6;
$color__text-titlevideo: #000000;
$color__text-desc: #00c27b;
$color__text-subtitle: #ccc;
$color__text-address: #746db5;
$color__text-author: #746db5;
$color__text-date: #746db5;
$color__text-tab: #746db5;
$color__text-boder: #d9e1f6;
$color__text-tab-hover: #00c27b;

$color__border-button: #ffffff;
$color__border-input: #ccc;